<%= form_for(@survivor) do |f| %>
  <% if @survivor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survivor.errors.count, "error") %> prohibited this survivor from being saved:</h2>

      <ul>
      <% @survivor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
