<h1>Listing survivors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @survivors.each do |survivor| %>
      <tr>
        <td><%= survivor.name %></td>
        <td>
          <%= image_tag(survivor.picture_url(:preview)) if survivor.picture.present? %>
        </td>
        <td><%= link_to 'Show', survivor %></td>
        <td><%= link_to 'Edit', edit_survivor_path(survivor) %></td>
        <td><%= link_to 'Destroy', survivor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survivor', new_survivor_path %>
