<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survivor.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @survivor.picture %>
</p>

<%= link_to 'Edit', edit_survivor_path(@survivor) %> |
<%= link_to 'Back', survivors_path %>
