<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>
<p>
<% @city.survivors.each do |survivor| %>
  <%= link_to survivor.name, survivor %>
<% end %>
</p>
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
